{% extends "base.html" %}
{% load django_tables2 %}
{% block main %}
    <a class="btn btn-secondary" href="/">На домашнюю</a>
    <h1>Договоры по клиенту {{ client_surname|default_if_none:" " }} {{ client_name|default_if_none:" " }} {{ client_patronymic|default_if_none:" " }}</h1>
    <h2>Адрес клиента: {{ client_address }}</h2>
{#    {% for c in contracts %}#}
{#        <p>{{ c }}</p>#}
{#    {% endfor %}#}
    {% render_table table %}
    <a class="btn btn-secondary" href="{{ 'add_contract/' }}{{ pk }}">Добавить</a>
{% endblock %}